@charset "utf-8";

@font-face {
    font-family: "Pretendard Variable";
    src: url('PretendardVariable.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Pretendard Variable";
    src: url('PretendardVariable.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Pretendard Variable";
    src: url('PretendardVariable.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Pretendard Variable";
    src: url('PretendardVariable.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

html {
    -webkit-text-size-adjust: none; /*Chrome, Safari, newer versions of Opera*/
    -moz-text-size-adjust: none; /*Firefox*/
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    color: #333;
    background-color: #353535;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 16px;
    word-break: keep-all;
    overflow-wrap: anywhere;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: rgba(255, 255, 255, 0.8);
  font-family: inherit;
  font-size: 17pt;
  font-weight: 400;
  padding: 15px 25px;
  /**/
  position: relative;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover, a:focus {
  outline: none;
}

.back { position: fixed; top: 40%; right: calc(50% - 130px); width: 260px; height: 100vh; margin: auto; text-align: center; }
.p { position: fixed; top: calc(40% + 60px); width: 100%; text-align: center; color: white; }

a::before, a span::before, a::after, a span::after {
  content: '';
  position: absolute;
}

a::before, a span::before {
  top: -webkit-calc(50% - .3em);
  top: calc(50% - .3em);
  left: -.25em;
  width: .5em;
  height: .5em;
  opacity: 0;
  -webkit-transform: translate3d(-.6em, 0, 0) rotate(45deg);
  transform: translate3d(-.6em, 0, 0) rotate(45deg)
}

a::after, a span::after {
  bottom: -webkit-calc(50% - .35em);
  bottom: calc(50% - .35em);
  right: -.25em;
  width: .5em;
  height: .5em;
  opacity: 0;
  -webkit-transform: translate3d(.6em, 0, 0) rotate(45deg);
  transform: translate3d(.6em, 0, 0) rotate(45deg)
}

a::before, a::after {
  -webkit-transition: -webkit-transform .3s ease-out, opacity .3s;
  transition: transform .3s ease-out, opacity .3s
}

a span::before, a span::after {
  -webkit-transition: -webkit-transform .3s ease-out .15s, opacity 0s .05s;
  transition: transform .3s ease-out .15s, opacity 0s .05s
}

a:hover {
  overflow: visible
}

a:hover:before, a:hover span::before {
  -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
  transform: translate3d(0, 0, 0) rotate(45deg);
  opacity: 1
}

a:hover:after, a:hover span::after {
  -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
  transform: translate3d(0, 0, 0) rotate(45deg);
  opacity: 1
}

a::before, a span::before {
  border-right: .15em solid rgba(255, 255, 255, 0.4);
  border-top: .15em solid rgba(255, 255, 255, 0.4);
}

a::after, a span::after {
  border-left: .15em solid rgba(255, 255, 255, 0.4);
  border-bottom: .15em solid rgba(255, 255, 255, 0.4);
}